# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
trainee_backend/node_modules
trainee_frontend/node_modules

# production
trainee_frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

trainee_backend/.env
